.house > h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid grey;
    background-color: #F7F8F9;
    text-transform: capitalize;
    padding: 10px;
    color: gray;
    border-radius: 5px;
}


.house__products{
    display: flex;
    z-index: 1;
    margin-left:5px ;
    margin-right: 5px;
} 
