.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
    border: 1px solid black;
    max-height: 300px;
    min-width: 100px ;
    padding: 20px;
    width: 100%;
    margin: 10px;
    background-color: white;
    z-index: 1;
}

.product__info{
    height: 50px;
    margin-bottom: 10px; 
} 
.product__price{
    margin-top: 5px;
}


.product > img{
    max-height: 150px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    /* padding: 10px; */
}
 .product > button{
    background-color: #F7F8F9;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
} 